---
const { logo, dates, role, company, description, urlPreview } = Astro.props;
---

<div class="relative flex flex-col justify-start pl-12">
  <div
    class="absolute top-0 left-0 z-40 flex items-center justify-center -translate-x-1/2 bg-white border rounded-full dark:bg-neutral-100 w-14 h-14 border-neutral-300 dark:border-neutral-700"
  >
    <img src={logo} alt={company} class="w-8 h-8" loading="eager" />
  </div>

  <p
    class="text-xs uppercase text-neutral-400 dark:text-neutral-500 trackign-widest"
  >
    {dates}
  </p>
  <h3 class="my-1 text-lg font-bold dark:text-neutral-100">{role}</h3>
  <p class="mb-1 text-sm font-medium dark:text-neutral-300">{company}</p>
  <p class="text-sm font-light text-neutral-600 dark:text-neutral-400">
    {description}
  </p>
  {
    urlPreview && (
      <a href={urlPreview} target="_blank" class="text-sm text-gray-600 dark:text-neutral-600 dark:hover:text-neutral-400 hover:text-gray-950 transition ease-in-out mt-3  inline-flex gap-x-1 items-center justify-start w-auto mr-auto">
        Saber más{" "}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="size-4"
        >
          <>
            <path d="M15 3h6v6" />
            <path d="M10 14 21 3" />
            <path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6" />
          </>
        </svg>
      </a>
    )
  }
</div>
