---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import SquareLines from "../components/square-lines.astro";
const {
  title,
  description,
  image = "https://www.adrianhdez.me/assets/images/favicon.png",
  canonical,
} = Astro.props;

const canonicalURL = new URL(canonical, Astro.url);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="./icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href={canonicalURL} />
    <meta
      name="keywords"
      content="programador, developer, dev, development, app, web, adrianhdez, astro, webdev, adrian hdez, adrian hernandez, adrian hernandez developer, adrian hernandez web developer, adrian hernandez astro, adrian hernandez astro developer, tabasco, adrian hernandez tabasco, adrian hernandez tabasco developer, frontend, front-end, front end"
    />

    <meta property="og:image" content={new URL(image, Astro.url)} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:site_name" content="Adrián Hdez" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@AdrianH_2" />
    <meta name="twitter:creator" content="@AdrianH_2" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={new URL(image, Astro.url)} />

    <link rel="apple-touch-icon" href={image} />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />

    <title>{title}</title>

    <!-- Used to add dark mode right away, adding here prevents any flicker -->
    <script is:inline>
      if (typeof Storage !== "undefined") {
        if (
          localStorage.getItem("dark_mode") &&
          localStorage.getItem("dark_mode") == "true"
        ) {
          document.documentElement.classList.add("dark");
        }
      }
    </script>

    <style>
      .prose img {
        border-radius: 20px;
      }
    </style>
    <script src="../assets/css/main.css"></script>
    <Fragment set:html={import.meta.env.HEADER_INJECT} />
  </head>
  <body class="antialiased bg-white dark:bg-neutral-950">
    <SquareLines />
    <Header />
    <slot />
    <Footer />
    <script src="../assets/js/main.js"></script>
    <Fragment set:html={import.meta.env.FOOTER_INJECT} />
  </body>
</html>
